@import "mixin";
.header {
    min-height: 100px;
    position: fixed;
    top: 0px;
    width: 100%;
    &__element {
        max-width: 33%;
        margin: 0px;
        float: left;
        &__navlist {
            @media(max-width:$screenMobile){
                display: none;
            }

            float: left;
            margin-top: 5px;
            &__list {
                display: inline;
                list-style: none;
                padding: 0px;
                &__item {
                    display: inline;
                    margin-left: 15px;
                    &__link {
                        text-decoration: none;
                        color: $font-color;
                        font-family: $font;
                        &--first {
                            border-top-style: solid;
                            border-top-color: $border-top-color;
                            border-top-width: 4px;
                        }
                    }
                }
            }
        }
        &--logo {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            float: none;
            margin-top: 5px;
            @media(min-width:$screenMobile){
                margin-left: 0px;
                
            }
        }
        &__logo img{
            &:hover{
                transform: scale(1.2);
            }
        }
        &--input {
            float: right;
        }
        &__inputWrapper {
            padding-left: 5px;
            border-style: solid;
            border-radius: 15px;
            background-color: $font-color;
            border-color: transparent;
            opacity: 0.6;
            height: 25px;
            margin-top: -15px;
            margin-right: 5px;
            &__input {
                border-style: solid;
                border-color: transparent;
                background-color: transparent;
                font-size: $font-size;
   
            }
        }
    }
    &__maintitle{
        text-align: center;
        font-family: $font;
        color: #f9f7ca;
        margin-top: 100px;
        &__item{
            font-size: 3,4rem;
            font-weight: strong;
            margin: 0px;
        }
    }
    &__button{
        @include btn;
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 200px;
    }
    
}